body {
    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
}

.human-player {
    grid-row: 1/3;
}

.human-player:hover,
.ai-player:hover,
.replay-btn:hover,
.refresh-btn:hover {
    background-color: #cfc5f9 !important;
    color: #56768c !important;
}

.submit:hover {
    background-color: #a5bed0 !important;
}

.board {
    display: none;
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 130px 130px 130px;
    gap: 2px;
    background-color: #56768c;
  
}

.box {
    display: flex;
    height: 130px;
    width: 130px;
    font-size: 120px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.lower-btn-container {
    display: none;
    flex-direction: row;
    gap: 15px;
}

.playerOneMark {
    color: #f98ec4 !important;
}